#container {
    display: grid;
    grid-template-columns:auto auto;
    background-color:burlywood

}

.item  {
    background-color: cornsilk;
               color:white

}


.i1  {
     grid-column-start: 1;
     grid-column-end: 3;
   
 }

.i2  {
     grid-column-start: 1;
     grid-column-end: 3;
}  

.i3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
}

h1  {
    background-color: cornsilk;
   
}